<?xml version="1.0" encoding="UTF-8" ?>
<suite name="esm的测试套件">
    <test name="这些是case">
        <classes>
            <class name="esm.datacontroller.DataController"/>
            <class name="esm.cases.audit.platform.overview.ManageDomainTest"/>
            <class name="esm.cases.audit.platform.overview.OnlineStateTest"/>
            <class name="esm.cases.audit.platform.overview.RebootTest"/>
            <class name="esm.cases.audit.platform.overview.SearchTest"/>
            <class name="esm.cases.audit.platform.unknown.TimeRetrievalTest"/>
            <class name="esm.cases.audit.platform.unknown.SearchTest"/>
            <class name="esm.cases.audit.antivirus.networkkill.FileMonitorTest"/>
            <class name="esm.cases.audit.antivirus.networkkill.MailMonitorTest"/>
            <class name="esm.cases.audit.antivirus.networkkill.NoScanTest"/>
            <class name="esm.cases.audit.antivirus.networkkill.OnlineStateTest"/>
            <class name="esm.cases.audit.antivirus.networkkill.SearchTest"/>
            <class name="esm.cases.audit.antivirus.virusdetails.TimeFrameTest"/>
            <class name="esm.cases.audit.antivirus.virusdetails.SourceTest"/>
            <class name="esm.cases.audit.antivirus.virusdetails.StateTest"/>
            <class name="esm.cases.audit.antivirus.virusdetails.SearchTest"/>
            <class name="esm.cases.audit.antivirus.virusdetails.VirusKillTest"/>
        </classes>

    </test>

    <listeners>
        <listener class-name="esm.listener.ExtentTestNGIReporterListener"/>
        <listener class-name="esm.listener.RetryListener"/>
    </listeners>
</suite>