<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esm.model.esmdb">
    <!--查询client-->
    <select id="selectClient" parameterType="String" resultType="esm.model.esmdb.Client">
         select * from Client
         where ComputerName=#{ComputerName};
    </select>

    <!--更新client-->
    <update id="updateClient" parameterType="esm.model.esmdb.Client">
       update Client

        <trim prefix="set" suffixOverrides="," suffix=" where ComputerName = #{ComputerName} ">
            <if test="null != GUID and '' !=GUID">
                GUID=#{GUID},
            </if>

            <if test="null != ComputerName and '' !=ComputerName">
                ComputerName=#{ComputerName},
            </if>

            <if test="null != CreateTime">
                CreateTime=#{CreateTime},
            </if>

        </trim>
        ;
    </update>

    <!--插入client-->
    <insert id="addClient" parameterType="esm.model.esmdb.Client">
        insert into client(GUID,ComputerName,Memo,IP,NatIP,MAC,OS,Version,GroupGUID,
        Status,LastServerGUID,LastLoginAccount,LastLoginTime,NodeType,CreateTime,
        ModifyTime,Deleted,ReBoot,IsVD)
        values(#{GUID},#{ComputerName},#{Memo},#{IP},#{NatIP},#{MAC},#{OS},#{Version},#{GroupGUID},
        #{Status},#{LastServerGUID},#{LastLoginAccount},#{LastLoginTime},#{NodeType},#{CreateTime},#{ModifyTime},
        #{Deleted},#{ReBoot},#{IsVD})
    </insert>

</mapper>