<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esm.model.esmdb">
    <!--查询client-->
    <select id="selectClient" parameterType="String" resultType="esm.model.esmdb.Client">
         select * from Client
         where ComputerName=#{ComputerName};
    </select>

    <!--更新client-->
    <update id="updateClient" parameterType="esm.model.esmdb.Client">
       update Client

        <trim prefix="set" suffixOverrides="," suffix=" where ComputerName = #{ComputerName} ">
            <if test="null != GUID and '' !=GUID">
                GUID=#{GUID},
            </if>
            <if test="null != ComputerName and '' !=ComputerName">
                ComputerName=#{ComputerName},
            </if>
            <if test="null != Memo and '' !=Memo">
                Memo=#{Memo},
            </if>
            <if test="null != IP and '' !=IP">
                IP=#{IP},
            </if>
            <if test="null != NatIP and '' !=NatIP">
                NatIP=#{NatIP},
            </if>
            <if test="null != MAC and '' !=MAC">
                MAC=#{MAC},
            </if>
            <if test="null != OS and '' !=OS">
                OS=#{OS},
            </if>
            <if test="null != Version and '' !=Version">
                Version=#{Version},
            </if>
            <if test="null != GroupGUID and '' !=GroupGUID">
                GroupGUID=#{GroupGUID},
            </if>
            <if test="null != Status">
                Status=#{Status},
            </if>
            <if test="null != LastServerGUID and '' !=LastServerGUID">
                LastServerGUID=#{LastServerGUID},
            </if>
            <if test="null != LastLoginAccount and '' !=LastLoginAccount">
                LastLoginAccount=#{LastLoginAccount},
            </if>
            <if test="null != LastLoginTime">
                LastLoginTime=#{LastLoginTime},
            </if>
            <if test="null != GroupType">
                GroupType=#{GroupType},
            </if>
            <if test="null != NodeType">
                NodeType=#{NodeType},
            </if>
            <if test="null != SourceType">
                SourceType=#{SourceType},
            </if>
            <if test="null != CreatorGUID and '' !=CreatorGUID">
                CreatorGUID=#{CreatorGUID},
            </if>
            <if test="null != CreateTime">
                CreateTime=#{CreateTime},
            </if>
            <if test="null != ModifierGUID and '' !=ModifierGUID">
                ModifierGUID=#{ModifierGUID},
            </if>
            <if test="null != ModifyTime">
                ModifyTime=#{ModifyTime},
            </if>
            <if test="null != Deleted">
                Deleted=#{Deleted},
            </if>
            <if test="null != Accredited">
                Accredited=#{Accredited},
            </if>
            <if test="null != ReBoot">
                ReBoot=#{ReBoot},
            </if>
            <if test="null != IsVD">
                IsVD=#{IsVD},
            </if>
            <if test="null != SynSource and '' !=SynSource">
                SynSource=#{SynSource},
            </if>

        </trim>
        ;
    </update>

    <!--插入client-->
    <insert id="addClient" parameterType="esm.model.esmdb.Client">
        insert into client(GUID,ComputerName,Memo,IP,NatIP,MAC,OS,Version,GroupGUID,
        Status,LastServerGUID,LastLoginAccount,LastLoginTime,NodeType,CreateTime,
        ModifyTime,Deleted,ReBoot,IsVD)
        values(#{GUID},#{ComputerName},#{Memo},#{IP},#{NatIP},#{MAC},#{OS},#{Version},#{GroupGUID},
        #{Status},#{LastServerGUID},#{LastLoginAccount},#{LastLoginTime},#{NodeType},#{CreateTime},#{ModifyTime},
        #{Deleted},#{ReBoot},#{IsVD})
    </insert>

</mapper>