<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esm.model.esmlog">
    <!--更新ScanEvent-->
    <update id="updateScanEvent" parameterType="esm.model.esmlog.XAV_ScanEvent">
        update XAV_ScanEvent

        <trim prefix="set" suffixOverrides="," suffix=" where GUID = #{GUID} and
            Time = (SELECT max(Time) FROM XAV_ScanEvent WHERE GUID = #{GUID} ) ">
            <if test="null != Time">
                Time=#{Time},
            </if>
            <if test="null != EventType">
                EventType=#{EventType},
            </if>
            <if test="null != EventLevel">
                EventLevel=#{EventLevel},
            </if>
            <if test="null != EventSource and '' !=EventSource">
                EventSource=#{EventSource},
            </if>
            <if test="null != Category">
                Category=#{Category},
            </if>
            <if test="null != UserName and '' !=UserName">
                UserName=#{UserName},
            </if>
            <if test="null != GUID and '' !=GUID">
                GUID=#{GUID},
            </if>
            <if test="null != Description and '' !=Description">
                Description=#{Description},
            </if>
            <if test="null != taskid">
                taskid=#{taskid},
            </if>
            <if test="null != taskname and '' !=taskname">
                taskname=#{taskname},
            </if>
            <if test="null != appid">
                appid=#{appid},
            </if>
            <if test="null != starttime">
                starttime=#{starttime},
            </if>
            <if test="null != runtime">
                runtime=#{runtime},
            </if>
            <if test="null != state">
                state=#{state},
            </if>
            <if test="null != scanCount">
                scanCount=#{scanCount},
            </if>
            <if test="null != virusCount and '' !=virusCount">
                virusCount=#{virusCount},
            </if>
            <if test="null != treatedCount">
                treatedCount=#{treatedCount},
            </if>
            <if test="null != totalFileCount">
                totalFileCount=#{totalFileCount},
            </if>
            <if test="null != scanFileCount">
                scanFileCount=#{scanFileCount},
            </if>
            <if test="null != virusFielCount">
                virusFielCount=#{virusFielCount},
            </if>
            <if test="null != treatedFileCount">
                treatedFileCount=#{treatedFileCount},
            </if>
            <if test="null != reserve">
                reserve=#{reserve},
            </if>
            <if test="null != virusFileCount">
                virusFileCount=#{virusFileCount},
            </if>

        </trim>
        ;
    </update>
</mapper>