<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="esm.model.esmlog">
    <!--更新ScanEvent-->
    <update id="updateScanEvent" parameterType="esm.model.esmlog.XAV_ScanEvent">
        update XAV_ScanEvent

        <trim prefix="set" suffixOverrides="," suffix=" where GUID = #{GUID} and
            Time = (SELECT max(Time) FROM XAV_ScanEvent WHERE GUID = #{GUID} ) ">
            <if test="null != Time">
                Time=#{Time},
            </if>

            <if test="null != GUID and '' !=GUID">
                GUID=#{GUID},
            </if>

        </trim>
        ;
    </update>

    <update id="updateVirus" parameterType="esm.model.esmlog.XAV_Virus">
        update XAV_Virus

        <trim prefix="set" suffixOverrides="," suffix=" where GUID = #{GUID} ">
            <if test="null != Time">
                Time=#{Time},
            </if>

            <if test="null != GUID and '' !=GUID">
                GUID=#{GUID},
            </if>

        </trim>
        ;
    </update>

    <update id="updateSysDef" parameterType="esm.model.esmlog.XAV_SysDef">
        update XAV_SysDef

        <trim prefix="set" suffixOverrides="," suffix=" where GUID = #{GUID} ">
            <if test="null != Time">
                Time=#{Time},
            </if>

            <if test="null != GUID and '' !=GUID">
                GUID=#{GUID},
            </if>

        </trim>
        ;
    </update>

    <update id="updateUrlInter" parameterType="esm.model.esmlog.RFW_UrlInterceptLog">
        update RFW_UrlInterceptLog

        <trim prefix="set" suffixOverrides="," suffix=" where GUID = #{GUID} ">
            <if test="null != Time">
                Time=#{Time},
            </if>

            <if test="null != GUID and '' !=GUID">
                GUID=#{GUID},
            </if>

        </trim>
        ;
    </update>

    <update id="updateIpAccess" parameterType="esm.model.esmlog.RFW_IPAccessAuditLog">
        update RFW_IPAccessAuditLog

        <trim prefix="set" suffixOverrides="," suffix=" where GUID = #{GUID} ">
            <if test="null != Time">
                Time=#{Time},
            </if>

            <if test="null != GUID and '' !=GUID">
                GUID=#{GUID},
            </if>

        </trim>
        ;
    </update>
</mapper>